body{
    background-color: cadetblue !important;
}

a{
    text-decoration: none !important;
}

.title{
    color: white;
    font-family: customFont;
}

.title:hover{
    color: cadetblue !important;
}
.title2{
    color: white;
}

.title2:hover{
    color: cadetblue !important;
}


.title1:hover{
    color: cadetblue;
}

.title1{
    color: white;
    cursor: pointer;
    top: 11px;
    position: fixed;
    right: 10px;
    font-size: 27pt;
    font-family: "Lucida Sans Unicode", "Ariel Unicode";
}

.titleclass{
    height: 1em;
    margin-top: 3px
}

.div{
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
                    supported by Chrome and Opera */
}

h2{
    font-family: customFont;
}

p{ 
    margin: 0 !important; 
}

h3{
    font-size: 40px;
}

.mar{
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width : 475px) {
    .mobile{
        height: 110vw !important;
    }
}

@media (max-width : 360px) {
    .mobile{
        height: 105vw !important;
    }
}

@media (min-width : 460px) {
    .nonmobilemargin{
        margin-bottom: 35px !important;
    }
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.input2{
    width: 90%;
    height: 100px;
}

@media (max-width : 700px) {
    .fontchange{
        font-size: 2.5vw;
    }
}

.textarea{
    display:block;
    width:50%;
    height:calc(1.5em + .75rem + 2px);
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea:focus{
    color:#495057;
    background-color:#fff;
    border-color:#80bdff;
    outline:0;
    box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}

.mobile-article-mar{
    margin-right: 35%;
    margin-left: 35%;
}

@media (max-width : 1000px) {
    .mobile-article-mar{
        margin-right: 10%;
        margin-left: 10%;
    }
}
