body{
    background-color: cadetblue !important;
}

a{
    text-decoration: none !important;
}

.title{
    color: white;
    font-family: customFont;
}

.title:hover{
    color: cadetblue !important;
}
.title2{
    color: white;
}

.title2:hover{
    color: cadetblue !important;
}


.title1:hover{
    color: cadetblue;
}

.title1{
    color: white;
    cursor: pointer;
    top: 6px;
    position: fixed;
    right: 10px;
    font-size: 30pt;
}

.titleclass{
    margin-top: 10px;
    font-size: 30pt;
}

.div{
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
                    supported by Chrome and Opera */
}

h2{
    font-family: customFont;
}

p{ 
    margin: 0 !important; 
}

h3{
    font-size: 40px;
}

.mar{
    margin-left: 20px;
    margin-right: 20px;
}

#total{
    font-family: customFont;
}

#input{
    width: 50vw;
    height: 80px;
}

@media (max-width : 475px) {
    .mobile{
        height: 110vw !important;
    }
}

@media (max-width : 360px) {
    .mobile{
        height: 105vw !important;
    }
}

@media (min-width : 460px) {
    .nonmobilemargin{
        margin-bottom: 35px !important;
    }
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}